/* style.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 18px;
  margin: 40px auto;
  max-width: 500px;
}
.grid-item {
  padding: 40px 0;
  text-align: center;
  background: #e3eefd;
  border-radius: 10px;
  font-size: 2rem;
}
@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* 2 columns on small screens */
  }
}
